<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lego.perception.file.mapper.DataFileMapper">

    <sql id="find_columns">
		id as id,
		name as name,
		file_type as fileType,
		project_id as project_id,
		file_url as file_url,
		previewUrl as preview_url,
        template_id as template_id
        check_flag as check_flag,
        check_date as check_date,
        check_by as  check_by,
        publish_flag as publish_flag,
        publish_date as publish_date,
        publish_by as  publish_by,
        data_type as  data_type,
        delete_flag as delete_flag,
        remark as remark,
		tags as tags,
		batch_num as batchNum,
		creation_date as creationDate,
		created_by as createdBy,
		last_update_date as lastUpdateDate,
		last_updated_by as lastUpdatedBy
	</sql>


    <sql id="condition">
        <if test='id != null'>
            and id = #{id, jdbcType=BIGINT}
        </if>
        <if test='name != null'>
            and name = #{name, jdbcType=VARCHAR}
        </if>

        <if test='type != null'>
            and file_type = #{fileType, jdbcType=VARCHAR}
        </if>
        <if test='projectId != null'>
            and project_id = #{projectId, jdbcType=BIGINT}
        </if>
        <if test='fileUrl != null'>
            and file_url = #{fileUrl, jdbcType=VARCHAR}
        </if>
        <if test='previewUrl != null'>
            and preview_url = #{previewUrl, jdbcType=VARCHAR}
        </if>


        <if test='templateId != null'>
            and template_id = #{TemplateId, jdbcType=BIGINT}
        </if>
        <if test='checkFlag != null'>
            and check_flag = #{checkFlag, jdbcType=int}
        </if>


        <if test='checkBy != null'>
            and check_by = #{checkBy, jdbcType=BIGINT}
        </if>

        <if test='publishFlag != null'>
            and publish_flag = #{publish_flag, jdbcType=int}
        </if>

        <if test='publishBy != null'>
            and publish_by = #{publishBy, jdbcType=BIGINT}
        </if>

        <if test='dataType != null'>
            and data_type = #{dataType, jdbcType=int}
        </if>


        <if test="deleteFlag != null">
            and delete_flag = #{deleteFlag, jdbcType=INTEGER}
        </if>
        <if test="remark!=null">
            and remark=#{remark,jdbcType=VARCHAR}
        </if>
        <if test="tag!=null">
            and find_in_set(#{tags,jdbcType=VARCHAR},tags)
        </if>
        <if test="batchNum!=null">
            and batch_num =#{batchNum,jdbcType=VARCHAR}
        </if>

    </sql>


    <select id="findList" parameterType="com.lego.framework.system.model.entity.DataFile"
            resultType="com.lego.framework.system.model.entity.DataFile">
        select
        <include refid="find_columns"></include>
        from tpl_data_file
        <where>
            <include refid="condition"></include>
        </where>
    </select>

    <insert id="insertList">
        insert into tpl_data_file
        ('name',
        file_type,
        project_id,
        file_url,
        preview_url,
        template_id ,
        data_type ,
        remark,
        tags,
        batch_num,
        creation_date,
        created_by,
        last_updated_by)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.name, jdbcType=VARCHAR},
            #{item.fileType, jdbcType=VARCHAR},
            #{item.projectId, jdbcType=BIGINT},
            #{item.fileUrl, jdbcType=VARCHAR},
            #{item.previewUrl, jdbcType=VARCHAR},
            #{item.templateId, jdbcType=BIGINT},
            #{item.dataType, jdbcType=BIGINT},
            #{item.remark, jdbcType=VARCHAR},
            #{item.tags, jdbcType=VARCHAR},
            #{item.batchNum, jdbcType=VARCHAR},
            #{item.creationDate, jdbcType=TIMESTAMP},
            #{item.createdBy, jdbcType=BIGINT},
            #{item.lastUpdatedBy, jdbcType=BIGINT}
            )
        </foreach>
    </insert>


    <update id="updateList">
        <foreach collection="list" item="item">
            update tpl_data_file
            <set>
                <if test='name != null and name != ""'>
                     name = #{name, jdbcType=VARCHAR},
                </if>

                <if test='fileType != null and fileType != ""'>
                     file_type = #{fileType, jdbcType=VARCHAR},
                </if>
                <if test='projectId != null and projectId != ""'>
                     project_id = #{projectId, jdbcType=BIGINT},
                </if>
                <if test='fileUrl != null and fileUrl != ""'>
                     file_url = #{fileUrl, jdbcType=VARCHAR},
                </if>
                <if test='previewUrl != null and previewUrl != ""'>
                     preview_url = #{previewUrl, jdbcType=VARCHAR},
                </if>


                <if test='templateId != null and templateId != ""'>
                     template_id = #{TemplateId, jdbcType=BIGINT},
                </if>
                <if test='checkFlag != null and checkFlag != ""'>
                     check_flag = #{checkFlag, jdbcType=int},
                </if>


                <if test='checkBy != null and checkBy != ""'>
                     check_by = #{checkBy, jdbcType=BIGINT},
                </if>

                <if test='publishFlag != null and publishFlag != ""'>
                     publish_flag = #{publish_flag, jdbcType=int},
                </if>

                <if test='publishBy != null and publishBy != ""'>
                     publish_by = #{publishBy, jdbcType=BIGINT},
                </if>

                <if test='dataType != null and dataType != ""'>
                     data_type = #{dataType, jdbcType=int},
                </if>


                <if test="deleteFlag != null">
                     delete_flag = #{deleteFlag, jdbcType=INTEGER},
                </if>
                <if test="remark!=null">
                     remark=#{remark,jdbcType=VARCHAR},
                </if>
                <if test="tags!=null">
                    tags=#{tags,jdbcType=VARCHAR},
                </if>
                <if test="batchNum!=null">
                    and batch_num =#{batchNum,jdbcType=VARCHAR}
                </if>
                last_updated_by = #{item.lastUpdatedBy, jdbcType=VARCHAR},
            </set>
            <where>
                <if test='item.id != null'>
                    and id = #{item.id, jdbcType=BIGINT}
                </if>
                <if test='item.name != null '>
                    and name = #{item.name, jdbcType=VARCHAR}
                </if>

                <if test='item.FileType != null'>
                    and file_type = #{item..fileType, jdbcType=VARCHAR}
                </if>
                <if test='item.projectId != null'>
                    and project_id = #{item.projectId, jdbcType=BIGINT}
                </if>
                <if test='item.fileUrl != null'>
                    and file_url = #{item.fileUrl, jdbcType=VARCHAR}
                </if>
                <if test='previewUrl != null'>
                    and preview_url = #{item.previewUrl, jdbcType=VARCHAR}
                </if>


                <if test='item.templateId != null and item.templateId != ""'>
                    and template_id = #{item.templateId, jdbcType=BIGINT}
                </if>
                <if test='item.checkFlag != null and item.checkFlag != ""'>
                    and check_flag = #{item.checkFlag, jdbcType=int}
                </if>


                <if test='item.checkBy != null and item.checkBy != ""'>
                    and check_by = #{item.checkBy, jdbcType=BIGINT}
                </if>

                <if test='item.publishFlag != null and item.publishFlag != ""'>
                    and publish_flag = #{item.publish_flag, jdbcType=int}
                </if>

                <if test='item.publishBy != null and item.publishBy != ""'>
                    and publish_by = #{item.publishBy, jdbcType=BIGINT}
                </if>

                <if test='item.dataType != null and item.dataType != ""'>
                    and data_type = #{item.dataType, jdbcType=int}
                </if>


                <if test="item.deleteFlag != null">
                    and delete_flag = #{item.deleteFlag, jdbcType=INTEGER}
                </if>
                <if test="item.remark!=null">
                    and remark=#{item.remark,jdbcType=VARCHAR}
                </if>
                <if test="item.tag!=null">
                    and find_in_set(#{tags,jdbcType=VARCHAR},tags)
                </if>
                <if test="item.batchNum!=null">
                    and batch_num =#{item.batchNum,jdbcType=VARCHAR}
                </if>
            </where>

        </foreach>
    </update>


    <update id="deleteList">
        update tpl_data_file set delete_flag = 2
        where id in
        <foreach collection="list" item="item" separator="," open="(" close=")" index="index">
            #{item, jdbcType=BIGINT}
        </foreach>
    </update>


    <select id="queryList" resultType="com.lego.framework.system.model.entity.DataFile">
        SELECT
        <include refid="find_columns"/>
        from
        tpl_data_file
        <include refid="condition"/>
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
</mapper>
