<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lego.perception.file.mapper.PerceptionFileMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.lego.framework.file.model.PerceptionFile" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="batchNum" column="batch_num"/>
        <result property="name" column="name"/>
        <result property="extName" column="ext_name"/>
        <result property="size" column="size"/>
        <result property="businessModule" column="business_module"/>
        <result property="isStructured" column="is_structured"/>
        <result property="projectId" column="project_id"/>
        <result property="fileUrl" column="file_url"/>
        <result property="previewUrl" column="preview_url"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="remark" column="remark"/>
        <result property="tags" column="tags"/>
        <result property="createdBy" column="created_by"/>
        <result property="creationDate" column="creation_date"/>
        <result property="lastUpdatedBy" column="last_updated_by"/>
        <result property="lastUpdateDate" column="last_update_date"/>
    </resultMap>


    <!--数据库表的基本查询列名集合 -->
    <sql id="Base_Column_List">
        id ,
        batch_num ,
        name ,
        ext_name ,
        size ,
        business_module ,
        is_structured ,
        project_id ,
        file_url ,
        preview_url ,
        delete_flag ,
        remark ,
        tags ,
        created_by ,
        creation_date ,
        last_updated_by ,
        last_update_date 
    </sql>


    <!--Where子句 -->
    <sql id="Base_Query_Where">
         <if test="perceptionFile.id != null">
            and id = #{perceptionFile.id,jdbcType=BIGINT}
         </if>
         <if test="perceptionFile.batchNum != null">
            and batch_num = #{perceptionFile.batchNum,jdbcType=VARCHAR}
         </if>
         <if test="perceptionFile.name != null">
            and name = #{perceptionFile.name,jdbcType=VARCHAR}
         </if>
         <if test="perceptionFile.extName != null">
            and ext_name = #{perceptionFile.extName,jdbcType=VARCHAR}
         </if>
         <if test="perceptionFile.size != null">
            and size = #{perceptionFile.size,jdbcType=BIGINT}
         </if>
         <if test="perceptionFile.businessModule != null">
            and business_module = #{perceptionFile.businessModule,jdbcType=VARCHAR}
         </if>
         <if test="perceptionFile.isStructured != null">
            and is_structured = #{perceptionFile.isStructured,jdbcType=INTEGER}
         </if>
         <if test="perceptionFile.projectId != null">
            and project_id = #{perceptionFile.projectId,jdbcType=BIGINT}
         </if>
         <if test="perceptionFile.fileUrl != null">
            and file_url = #{perceptionFile.fileUrl,jdbcType=VARCHAR}
         </if>
         <if test="perceptionFile.previewUrl != null">
            and preview_url = #{perceptionFile.previewUrl,jdbcType=VARCHAR}
         </if>
         <if test="perceptionFile.deleteFlag != null">
            and delete_flag = #{perceptionFile.deleteFlag,jdbcType=INTEGER}
         </if>
         <if test="perceptionFile.remark != null">
            and remark = #{perceptionFile.remark,jdbcType=VARCHAR}
         </if>
         <if test="perceptionFile.tags != null">
            and tags = #{perceptionFile.tags,jdbcType=VARCHAR}
         </if>
         <if test="perceptionFile.createdBy != null">
            and created_by = #{perceptionFile.createdBy,jdbcType=VARCHAR}
         </if>
         <if test="perceptionFile.creationDate != null">
            and creation_date = #{perceptionFile.creationDate,jdbcType=TIMESTAMP}
         </if>
         <if test="perceptionFile.lastUpdatedBy != null">
            and last_updated_by = #{perceptionFile.lastUpdatedBy,jdbcType=VARCHAR}
         </if>
         <if test="perceptionFile.lastUpdateDate != null">
            and last_update_date = #{perceptionFile.lastUpdateDate,jdbcType=TIMESTAMP}
         </if>
    </sql>




    <!--基本更新字段-->
    <sql id="Base_Update_Column">
        <set>
          <if test="perceptionFile.id != null">
             id = #{perceptionFile.id,jdbcType=BIGINT},
          </if>
          <if test="perceptionFile.batchNum != null">
             batch_num = #{perceptionFile.batchNum,jdbcType=VARCHAR},
          </if>
          <if test="perceptionFile.name != null">
             name = #{perceptionFile.name,jdbcType=VARCHAR},
          </if>
          <if test="perceptionFile.extName != null">
             ext_name = #{perceptionFile.extName,jdbcType=VARCHAR},
          </if>
          <if test="perceptionFile.size != null">
             size = #{perceptionFile.size,jdbcType=BIGINT},
          </if>
          <if test="perceptionFile.businessModule != null">
             business_module = #{perceptionFile.businessModule,jdbcType=VARCHAR},
          </if>
          <if test="perceptionFile.isStructured != null">
             is_structured = #{perceptionFile.isStructured,jdbcType=INTEGER},
          </if>
          <if test="perceptionFile.projectId != null">
             project_id = #{perceptionFile.projectId,jdbcType=BIGINT},
          </if>
          <if test="perceptionFile.fileUrl != null">
             file_url = #{perceptionFile.fileUrl,jdbcType=VARCHAR},
          </if>
          <if test="perceptionFile.previewUrl != null">
             preview_url = #{perceptionFile.previewUrl,jdbcType=VARCHAR},
          </if>
          <if test="perceptionFile.deleteFlag != null">
             delete_flag = #{perceptionFile.deleteFlag,jdbcType=INTEGER},
          </if>
          <if test="perceptionFile.remark != null">
             remark = #{perceptionFile.remark,jdbcType=VARCHAR},
          </if>
          <if test="perceptionFile.tags != null">
             tags = #{perceptionFile.tags,jdbcType=VARCHAR},
          </if>
          <if test="perceptionFile.createdBy != null">
             created_by = #{perceptionFile.createdBy,jdbcType=VARCHAR},
          </if>
          <if test="perceptionFile.creationDate != null">
             creation_date = #{perceptionFile.creationDate,jdbcType=TIMESTAMP},
          </if>
          <if test="perceptionFile.lastUpdatedBy != null">
             last_updated_by = #{perceptionFile.lastUpdatedBy,jdbcType=VARCHAR},
          </if>
          <if test="perceptionFile.lastUpdateDate != null">
             last_update_date = #{perceptionFile.lastUpdateDate,jdbcType=TIMESTAMP}
          </if>
        </set>
    </sql>


    <sql id="Base_Insert_Selective">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="perceptionFile.id != null">
               id,
            </if>
            <if test="perceptionFile.batchNum != null">
               batch_num,
            </if>
            <if test="perceptionFile.name != null">
               name,
            </if>
            <if test="perceptionFile.extName != null">
               ext_name,
            </if>
            <if test="perceptionFile.size != null">
               size,
            </if>
            <if test="perceptionFile.businessModule != null">
               business_module,
            </if>
            <if test="perceptionFile.isStructured != null">
               is_structured,
            </if>
            <if test="perceptionFile.projectId != null">
               project_id,
            </if>
            <if test="perceptionFile.fileUrl != null">
               file_url,
            </if>
            <if test="perceptionFile.previewUrl != null">
               preview_url,
            </if>
            <if test="perceptionFile.deleteFlag != null">
               delete_flag,
            </if>
            <if test="perceptionFile.remark != null">
               remark,
            </if>
            <if test="perceptionFile.tags != null">
               tags,
            </if>
            <if test="perceptionFile.createdBy != null">
               created_by,
            </if>
            <if test="perceptionFile.creationDate != null">
               creation_date,
            </if>
            <if test="perceptionFile.lastUpdatedBy != null">
               last_updated_by,
            </if>
            <if test="perceptionFile.lastUpdateDate != null">
               last_update_date
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
             <if test="perceptionFile.id != null">
             #{perceptionFile.id,jdbcType=BIGINT},
             </if>
             <if test="perceptionFile.batchNum != null">
             #{perceptionFile.batchNum,jdbcType=VARCHAR},
             </if>
             <if test="perceptionFile.name != null">
             #{perceptionFile.name,jdbcType=VARCHAR},
             </if>
             <if test="perceptionFile.extName != null">
             #{perceptionFile.extName,jdbcType=VARCHAR},
             </if>
             <if test="perceptionFile.size != null">
             #{perceptionFile.size,jdbcType=BIGINT},
             </if>
             <if test="perceptionFile.businessModule != null">
             #{perceptionFile.businessModule,jdbcType=VARCHAR},
             </if>
             <if test="perceptionFile.isStructured != null">
             #{perceptionFile.isStructured,jdbcType=INTEGER},
             </if>
             <if test="perceptionFile.projectId != null">
             #{perceptionFile.projectId,jdbcType=BIGINT},
             </if>
             <if test="perceptionFile.fileUrl != null">
             #{perceptionFile.fileUrl,jdbcType=VARCHAR},
             </if>
             <if test="perceptionFile.previewUrl != null">
             #{perceptionFile.previewUrl,jdbcType=VARCHAR},
             </if>
             <if test="perceptionFile.deleteFlag != null">
             #{perceptionFile.deleteFlag,jdbcType=INTEGER},
             </if>
             <if test="perceptionFile.remark != null">
             #{perceptionFile.remark,jdbcType=VARCHAR},
             </if>
             <if test="perceptionFile.tags != null">
             #{perceptionFile.tags,jdbcType=VARCHAR},
             </if>
             <if test="perceptionFile.createdBy != null">
             #{perceptionFile.createdBy,jdbcType=VARCHAR},
             </if>
             <if test="perceptionFile.creationDate != null">
             #{perceptionFile.creationDate,jdbcType=TIMESTAMP},
             </if>
             <if test="perceptionFile.lastUpdatedBy != null">
             #{perceptionFile.lastUpdatedBy,jdbcType=VARCHAR},
             </if>
             <if test="perceptionFile.lastUpdateDate != null">
             #{perceptionFile.lastUpdateDate,jdbcType=TIMESTAMP}
             </if>
        </trim>
    </sql>



    <!--批量添加记录到数据库表中-->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into perception_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
             id,
             batch_num,
             name,
             ext_name,
             size,
             business_module,
             is_structured,
             project_id,
             file_url,
             preview_url,
             delete_flag,
             remark,
             tags,
             created_by,
             creation_date,
             last_updated_by,
             last_update_date
        </trim>
        values
        <foreach collection="list" index="index" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id,jdbcType=BIGINT},
                #{item.batchNum,jdbcType=VARCHAR},
                #{item.name,jdbcType=VARCHAR},
                #{item.extName,jdbcType=VARCHAR},
                #{item.size,jdbcType=BIGINT},
                #{item.businessModule,jdbcType=VARCHAR},
                #{item.isStructured,jdbcType=INTEGER},
                #{item.projectId,jdbcType=BIGINT},
                #{item.fileUrl,jdbcType=VARCHAR},
                #{item.previewUrl,jdbcType=VARCHAR},
                #{item.deleteFlag,jdbcType=INTEGER},
                #{item.remark,jdbcType=VARCHAR},
                #{item.tags,jdbcType=VARCHAR},
                #{item.createdBy,jdbcType=VARCHAR},
                #{item.creationDate,jdbcType=TIMESTAMP},
                #{item.lastUpdatedBy,jdbcType=VARCHAR},
                #{item.lastUpdateDate,jdbcType=TIMESTAMP}
            </trim>
        </foreach>
    </insert>



    <!-- 根据主键批量更新数据库表中的记录-->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            update perception_file
            <set>
                <trim suffixOverrides=",">
                    id = #{item.id,jdbcType=BIGINT},
                    batch_num = #{item.batchNum,jdbcType=VARCHAR},
                    name = #{item.name,jdbcType=VARCHAR},
                    ext_name = #{item.extName,jdbcType=VARCHAR},
                    size = #{item.size,jdbcType=BIGINT},
                    business_module = #{item.businessModule,jdbcType=VARCHAR},
                    is_structured = #{item.isStructured,jdbcType=INTEGER},
                    project_id = #{item.projectId,jdbcType=BIGINT},
                    file_url = #{item.fileUrl,jdbcType=VARCHAR},
                    preview_url = #{item.previewUrl,jdbcType=VARCHAR},
                    delete_flag = #{item.deleteFlag,jdbcType=INTEGER},
                    remark = #{item.remark,jdbcType=VARCHAR},
                    tags = #{item.tags,jdbcType=VARCHAR},
                    created_by = #{item.createdBy,jdbcType=VARCHAR},
                    creation_date = #{item.creationDate,jdbcType=TIMESTAMP},
                    last_updated_by = #{item.lastUpdatedBy,jdbcType=VARCHAR},
                    last_update_date = #{item.lastUpdateDate,jdbcType=TIMESTAMP}
                </trim>
            </set>
            <where>
                <trim suffixOverrides=",">
                    where id = #{item.id,jdbcType=BIGINT}
                </trim>
            </where>
        </foreach>
    </update>


    <!--存在即更新否则插入-->
    <update id="upsert" parameterType="com.lego.framework.file.model.PerceptionFile">
        insert into perception_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
             id ,
             batch_num ,
             name ,
             ext_name ,
             size ,
             business_module ,
             is_structured ,
             project_id ,
             file_url ,
             preview_url ,
             delete_flag ,
             remark ,
             tags ,
             created_by ,
             creation_date ,
             last_updated_by ,
             last_update_date 
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
             #{perceptionFile.id,jdbcType=BIGINT},
             #{perceptionFile.batchNum,jdbcType=VARCHAR},
             #{perceptionFile.name,jdbcType=VARCHAR},
             #{perceptionFile.extName,jdbcType=VARCHAR},
             #{perceptionFile.size,jdbcType=BIGINT},
             #{perceptionFile.businessModule,jdbcType=VARCHAR},
             #{perceptionFile.isStructured,jdbcType=INTEGER},
             #{perceptionFile.projectId,jdbcType=BIGINT},
             #{perceptionFile.fileUrl,jdbcType=VARCHAR},
             #{perceptionFile.previewUrl,jdbcType=VARCHAR},
             #{perceptionFile.deleteFlag,jdbcType=INTEGER},
             #{perceptionFile.remark,jdbcType=VARCHAR},
             #{perceptionFile.tags,jdbcType=VARCHAR},
             #{perceptionFile.createdBy,jdbcType=VARCHAR},
             #{perceptionFile.creationDate,jdbcType=TIMESTAMP},
             #{perceptionFile.lastUpdatedBy,jdbcType=VARCHAR},
             #{perceptionFile.lastUpdateDate,jdbcType=TIMESTAMP}
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
          #{perceptionFile.id,jdbcType=BIGINT},
          #{perceptionFile.batchNum,jdbcType=VARCHAR},
          #{perceptionFile.name,jdbcType=VARCHAR},
          #{perceptionFile.extName,jdbcType=VARCHAR},
          #{perceptionFile.size,jdbcType=BIGINT},
          #{perceptionFile.businessModule,jdbcType=VARCHAR},
          #{perceptionFile.isStructured,jdbcType=INTEGER},
          #{perceptionFile.projectId,jdbcType=BIGINT},
          #{perceptionFile.fileUrl,jdbcType=VARCHAR},
          #{perceptionFile.previewUrl,jdbcType=VARCHAR},
          #{perceptionFile.deleteFlag,jdbcType=INTEGER},
          #{perceptionFile.remark,jdbcType=VARCHAR},
          #{perceptionFile.tags,jdbcType=VARCHAR},
          #{perceptionFile.createdBy,jdbcType=VARCHAR},
          #{perceptionFile.creationDate,jdbcType=TIMESTAMP},
          #{perceptionFile.lastUpdatedBy,jdbcType=VARCHAR},
          #{perceptionFile.lastUpdateDate,jdbcType=TIMESTAMP}
        </trim>
    </update>


    <!--带有空值检查的存在即更新否则插入-->
    <update id="upsertSelective" parameterType="com.lego.framework.file.model.PerceptionFile">
        insert into perception_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="perceptionFile.id != null">
                id,
            </if>
            <if test="perceptionFile.batchNum != null">
                batch_num,
            </if>
            <if test="perceptionFile.name != null">
                name,
            </if>
            <if test="perceptionFile.extName != null">
                ext_name,
            </if>
            <if test="perceptionFile.size != null">
                size,
            </if>
            <if test="perceptionFile.businessModule != null">
                business_module,
            </if>
            <if test="perceptionFile.isStructured != null">
                is_structured,
            </if>
            <if test="perceptionFile.projectId != null">
                project_id,
            </if>
            <if test="perceptionFile.fileUrl != null">
                file_url,
            </if>
            <if test="perceptionFile.previewUrl != null">
                preview_url,
            </if>
            <if test="perceptionFile.deleteFlag != null">
                delete_flag,
            </if>
            <if test="perceptionFile.remark != null">
                remark,
            </if>
            <if test="perceptionFile.tags != null">
                tags,
            </if>
            <if test="perceptionFile.createdBy != null">
                created_by,
            </if>
            <if test="perceptionFile.creationDate != null">
                creation_date,
            </if>
            <if test="perceptionFile.lastUpdatedBy != null">
                last_updated_by,
            </if>
            <if test="perceptionFile.lastUpdateDate != null">
                last_update_date
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="perceptionFile.id !=null ">
                #{perceptionFile.id,jdbcType=BIGINT},
            </if>
            <if test="perceptionFile.batchNum !=null ">
                #{perceptionFile.batchNum,jdbcType=VARCHAR},
            </if>
            <if test="perceptionFile.name !=null ">
                #{perceptionFile.name,jdbcType=VARCHAR},
            </if>
            <if test="perceptionFile.extName !=null ">
                #{perceptionFile.extName,jdbcType=VARCHAR},
            </if>
            <if test="perceptionFile.size !=null ">
                #{perceptionFile.size,jdbcType=BIGINT},
            </if>
            <if test="perceptionFile.businessModule !=null ">
                #{perceptionFile.businessModule,jdbcType=VARCHAR},
            </if>
            <if test="perceptionFile.isStructured !=null ">
                #{perceptionFile.isStructured,jdbcType=INTEGER},
            </if>
            <if test="perceptionFile.projectId !=null ">
                #{perceptionFile.projectId,jdbcType=BIGINT},
            </if>
            <if test="perceptionFile.fileUrl !=null ">
                #{perceptionFile.fileUrl,jdbcType=VARCHAR},
            </if>
            <if test="perceptionFile.previewUrl !=null ">
                #{perceptionFile.previewUrl,jdbcType=VARCHAR},
            </if>
            <if test="perceptionFile.deleteFlag !=null ">
                #{perceptionFile.deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="perceptionFile.remark !=null ">
                #{perceptionFile.remark,jdbcType=VARCHAR},
            </if>
            <if test="perceptionFile.tags !=null ">
                #{perceptionFile.tags,jdbcType=VARCHAR},
            </if>
            <if test="perceptionFile.createdBy !=null ">
                #{perceptionFile.createdBy,jdbcType=VARCHAR},
            </if>
            <if test="perceptionFile.creationDate !=null ">
                #{perceptionFile.creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="perceptionFile.lastUpdatedBy !=null ">
                #{perceptionFile.lastUpdatedBy,jdbcType=VARCHAR},
            </if>
            <if test="perceptionFile.lastUpdateDate !=null ">
                #{perceptionFile.lastUpdateDate,jdbcType=TIMESTAMP}
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="perceptionFile.id !=null ">
             #{id,jdbcType=BIGINT},
            </if>
            <if test="perceptionFile.batchNum !=null ">
             #{batchNum,jdbcType=VARCHAR},
            </if>
            <if test="perceptionFile.name !=null ">
             #{name,jdbcType=VARCHAR},
            </if>
            <if test="perceptionFile.extName !=null ">
             #{extName,jdbcType=VARCHAR},
            </if>
            <if test="perceptionFile.size !=null ">
             #{size,jdbcType=BIGINT},
            </if>
            <if test="perceptionFile.businessModule !=null ">
             #{businessModule,jdbcType=VARCHAR},
            </if>
            <if test="perceptionFile.isStructured !=null ">
             #{isStructured,jdbcType=INTEGER},
            </if>
            <if test="perceptionFile.projectId !=null ">
             #{projectId,jdbcType=BIGINT},
            </if>
            <if test="perceptionFile.fileUrl !=null ">
             #{fileUrl,jdbcType=VARCHAR},
            </if>
            <if test="perceptionFile.previewUrl !=null ">
             #{previewUrl,jdbcType=VARCHAR},
            </if>
            <if test="perceptionFile.deleteFlag !=null ">
             #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="perceptionFile.remark !=null ">
             #{remark,jdbcType=VARCHAR},
            </if>
            <if test="perceptionFile.tags !=null ">
             #{tags,jdbcType=VARCHAR},
            </if>
            <if test="perceptionFile.createdBy !=null ">
             #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="perceptionFile.creationDate !=null ">
             #{creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="perceptionFile.lastUpdatedBy !=null ">
             #{lastUpdatedBy,jdbcType=VARCHAR},
            </if>
            <if test="perceptionFile.lastUpdateDate !=null ">
             #{lastUpdateDate,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </update>

    <select id="query" resultMap="BaseResultMap" parameterType="com.lego.framework.file.model.PerceptionFile">
        select
        <include refid="Base_Column_List"/>
        from perception_file
        <where>
            <include refid="Base_Query_Where"></include>
        </where>
    </select>

    <select id="queryTotalCount" resultType="long">
        select count(*) from perception_file
    </select>




</mapper>