<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lego.equipment.service.mapper.EquipmentFileMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.lego.framework.equipment.model.entity.EquipmentFile" id="BaseResultMap">
        <result property="fileId" column="file_id"/>
        <result property="fileName" column="file_name"/>
        <result property="fileType" column="file_type"/>
        <result property="fileUrl" column="file_url"/>
        <result property="previewUrl" column="preview_url"/>
        <result property="dataType" column="data_type"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="equipmentId" column="equipment_id"/>
        <result property="equipmentCode" column="equipment_code"/>
        <result property="remark" column="remark"/>
        <result property="tags" column="tags"/>
        <result property="createdBy" column="created_by"/>
        <result property="creationDate" column="creation_date"/>
        <result property="lastUpdatedBy" column="last_updated_by"/>
        <result property="lastUpdateDate" column="last_update_date"/>
    </resultMap>

    <!--
          选择性插入
        -->
    <sql id="Base_Insert_Selective">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileId != null">
                file_id,
            </if>
            <if test="fileName != null">
                file_name,
            </if>
            <if test="fileType != null">
                file_type,
            </if>
            <if test="fileUrl != null">
                file_url,
            </if>
            <if test="previewUrl != null">
                preview_url,
            </if>
            <if test="dataType != null">
                data_type,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="equipmentId != null">
                equipment_id,
            </if>
            <if test="equipmentCode != null">
                equipment_code,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="tags != null">
                tags,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="creationDate != null">
                creation_date,
            </if>
            <if test="lastUpdatedBy != null">
                last_updated_by,
            </if>
            <if test="lastUpdateDate != null">
                last_update_date
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileId != null">
                #{fileId,jdbcType=BIGINT},
            </if>
            <if test="fileName != null">
                #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="fileType != null">
                #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="fileUrl != null">
                #{fileUrl,jdbcType=VARCHAR},
            </if>
            <if test="previewUrl != null">
                #{previewUrl,jdbcType=VARCHAR},
            </if>
            <if test="dataType != null">
                #{dataType,jdbcType=TINYINT},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="equipmentId != null">
                #{equipmentId,jdbcType=BIGINT},
            </if>
            <if test="equipmentCode != null">
                #{equipmentCode,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="tags != null">
                #{tags,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="creationDate != null">
                #{creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdatedBy != null">
                #{lastUpdatedBy,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateDate != null">
                #{lastUpdateDate,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </sql>

    <!--
      数据库表的基本查询列名集合
    -->
    <sql id="Base_Column_List">
        file_id, file_name, file_type, file_url, preview_url, data_type, delete_flag, equipment_id, equipment_code,
        remark, tags, created_by, creation_date, last_updated_by, last_update_date
    </sql>

    <!--
        Where子句
      -->
    <sql id="Base_Query_Where">
        <if test="fileId != null">
            and file_id = #{fileId,jdbcType=BIGINT}
        </if>
        <if test="fileName != null">
            and file_name = #{fileName,jdbcType=VARCHAR}
        </if>
        <if test="fileType != null">
            and file_type = #{fileType,jdbcType=VARCHAR}
        </if>
        <if test="fileUrl != null">
            and file_url = #{fileUrl,jdbcType=VARCHAR}
        </if>
        <if test="previewUrl != null">
            and preview_url = #{previewUrl,jdbcType=VARCHAR}
        </if>
        <if test="dataType != null">
            and data_type = #{dataType,jdbcType=TINYINT}
        </if>
        <if test="deleteFlag != null">
            and delete_flag = #{deleteFlag,jdbcType=INTEGER}
        </if>
        <if test="equipmentId != null">
            and equipment_id = #{equipmentId,jdbcType=BIGINT}
        </if>
        <if test="equipmentCode != null">
            and equipment_code = #{equipmentCode,jdbcType=VARCHAR}
        </if>
        <if test="remark != null">
            and remark = #{remark,jdbcType=VARCHAR}
        </if>
        <if test="tags != null">
            and tags = #{tags,jdbcType=VARCHAR}
        </if>
        <if test="createdBy != null">
            and created_by = #{createdBy,jdbcType=VARCHAR}
        </if>
        <if test="creationDate != null">
            and creation_date = #{creationDate,jdbcType=TIMESTAMP}
        </if>
        <if test="lastUpdatedBy != null">
            and last_updated_by = #{lastUpdatedBy,jdbcType=TIMESTAMP}
        </if>
        <if test="lastUpdateDate != null">
            and last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP}
        </if>
    </sql>

    <!--
        基本更新字段
    -->
    <sql id="Base_Update_Column">
        <set>
            <if test="fileId != null">
                file_id = #{fileId,jdbcType=BIGINT},
            </if>
            <if test="fileName != null">
                file_name = #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="fileType != null">
                file_type = #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="fileUrl != null">
                file_url = #{fileUrl,jdbcType=VARCHAR},
            </if>
            <if test="previewUrl != null">
                preview_url = #{previewUrl,jdbcType=VARCHAR},
            </if>
            <if test="dataType != null">
                data_type = #{dataType,jdbcType=TINYINT},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="equipmentId != null">
                equipment_id = #{equipmentId,jdbcType=BIGINT},
            </if>
            <if test="equipmentCode != null">
                equipment_code = #{equipmentCode,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="tags != null">
                tags = #{tags,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="creationDate != null">
                creation_date = #{creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdatedBy != null">
                last_updated_by = #{lastUpdatedBy,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateDate != null">
                last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP}
            </if>
        </set>
    </sql>



    <!--
      根据主键查询数据库表
    -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tpl_equipment_file
        where file_id = #{fileId,jdbcType=BIGINT}
    </select>


    <!--
      根据主键删除数据库表中的记录
    -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete FROM tpl_equipment_file
        where file_id = #{fileId,jdbcType=BIGINT}
    </delete>

    <!--
      添加一条记录到数据库表中
    -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.lego.framework.equipment.model.entity.EquipmentFile">
        insert into tpl_equipment_file
        (<include refid="Base_Column_List"/>)
        values (
        <if test="fileId != null">
            #{fileId,jdbcType=BIGINT},
        </if>
        <if test="fileName != null">
            #{fileName,jdbcType=VARCHAR},
        </if>
        <if test="fileType != null">
            #{fileType,jdbcType=VARCHAR},
        </if>
        <if test="fileUrl != null">
            #{fileUrl,jdbcType=VARCHAR},
        </if>
        <if test="previewUrl != null">
            #{previewUrl,jdbcType=VARCHAR},
        </if>
        <if test="dataType != null">
            #{dataType,jdbcType=TINYINT},
        </if>
        <if test="deleteFlag != null">
            #{deleteFlag,jdbcType=INTEGER},
        </if>
        <if test="equipmentId != null">
            #{equipmentId,jdbcType=BIGINT},
        </if>
        <if test="equipmentCode != null">
            #{equipmentCode,jdbcType=VARCHAR},
        </if>
        <if test="remark != null">
            #{remark,jdbcType=VARCHAR},
        </if>
        <if test="tags != null">
            #{tags,jdbcType=VARCHAR},
        </if>
        <if test="createdBy != null">
            #{createdBy,jdbcType=VARCHAR},
        </if>
        <if test="creationDate != null">
            #{creationDate,jdbcType=TIMESTAMP},
        </if>
        <if test="lastUpdatedBy != null">
            #{lastUpdatedBy,jdbcType=TIMESTAMP},
        </if>
        <if test="lastUpdateDate != null">
            #{lastUpdateDate,jdbcType=TIMESTAMP}
        </if>
        )
    </insert>

    <!--
     有选择的添加一条记录到数据库表中
   -->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.lego.framework.equipment.model.entity.EquipmentFile">
        insert into tpl_equipment_file
        <include refid="Base_Insert_Selective"/>
    </insert>

    <!--
      有选择的可忽略添加一条记录到数据库表中
    -->
    <insert id="insertSelectiveIgnore" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.lego.framework.equipment.model.entity.EquipmentFile">
        insert ignore into tpl_equipment_file
        <include refid="Base_Insert_Selective"/>
    </insert>

    <!--
      根据主键有选择的更新数据库表
    -->
    <update id="updateByPrimaryKeySelective" parameterType="com.lego.framework.equipment.model.entity.EquipmentFile">
        update tpl_equipment_file
        <include refid="Base_Update_Column"></include>
        where file_id = #{fileId,jdbcType=BIGINT}
    </update>


    <!--
      根据主键更新数据库表
    -->
    <update id="updateByPrimaryKey" parameterType="com.lego.framework.equipment.model.entity.EquipmentFile">
        update tpl_equipment_file
        <set>
            <if test="fileId != null">
                file_id = #{fileId,jdbcType=BIGINT},
            </if>
            <if test="fileName != null">
                file_name = #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="fileType != null">
                file_type = #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="fileUrl != null">
                file_url = #{fileUrl,jdbcType=VARCHAR},
            </if>
            <if test="previewUrl != null">
                preview_url = #{previewUrl,jdbcType=VARCHAR},
            </if>
            <if test="dataType != null">
                data_type = #{dataType,jdbcType=TINYINT},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="equipmentId != null">
                equipment_id = #{equipmentId,jdbcType=BIGINT},
            </if>
            <if test="equipmentCode != null">
                equipment_code = #{equipmentCode,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="tags != null">
                tags = #{tags,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="creationDate != null">
                creation_date = #{creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdatedBy != null">
                last_updated_by = #{lastUpdatedBy,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateDate != null">
                last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP}
            </if>
        </set>
        where file_id = #{fileId,jdbcType=BIGINT}
    </update>

    <!--
      批量添加记录到数据库表中
    -->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into tpl_equipment_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            file_id, file_name, file_type, file_url, preview_url, data_type, delete_flag, equipment_id, equipment_code,
            remark, tags, created_by, creation_date, last_updated_by, last_update_date
        </trim>
        values
        <foreach collection="list" index="index" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.fileId,jdbcType=BIGINT}, #{item.fileName,jdbcType=VARCHAR}, #{item.fileType,jdbcType=VARCHAR},
                #{item.fileUrl,jdbcType=VARCHAR}, #{item.previewUrl,jdbcType=VARCHAR},
                #{item.dataType,jdbcType=TINYINT}, #{item.deleteFlag,jdbcType=INTEGER},
                #{item.equipmentId,jdbcType=BIGINT}, #{item.equipmentCode,jdbcType=VARCHAR},
                #{item.remark,jdbcType=VARCHAR}, #{item.tags,jdbcType=VARCHAR}, #{item.createdBy,jdbcType=VARCHAR},
                #{item.creationDate,jdbcType=TIMESTAMP}, #{item.lastUpdatedBy,jdbcType=TIMESTAMP},
                #{item.lastUpdateDate,jdbcType=TIMESTAMP}
            </trim>
        </foreach>
    </insert>

    <!--
      根据主键批量更新数据库表中的记录
    -->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            update tpl_equipment_file
            <set>
                <trim suffixOverrides=",">
                    <if test="item.fileId != null">
                        file_id = #{item.fileId,jdbcType=BIGINT},
                    </if>
                    <if test="item.fileName != null">
                        file_name = #{item.fileName,jdbcType=VARCHAR},
                    </if>
                    <if test="item.fileType != null">
                        file_type = #{item.fileType,jdbcType=VARCHAR},
                    </if>
                    <if test="item.fileUrl != null">
                        file_url = #{item.fileUrl,jdbcType=VARCHAR},
                    </if>
                    <if test="item.previewUrl != null">
                        preview_url = #{item.previewUrl,jdbcType=VARCHAR},
                    </if>
                    <if test="item.dataType != null">
                        data_type = #{item.dataType,jdbcType=TINYINT},
                    </if>
                    <if test="item.deleteFlag != null">
                        delete_flag = #{item.deleteFlag,jdbcType=INTEGER},
                    </if>
                    <if test="item.equipmentId != null">
                        equipment_id = #{item.equipmentId,jdbcType=BIGINT},
                    </if>
                    <if test="item.equipmentCode != null">
                        equipment_code = #{item.equipmentCode,jdbcType=VARCHAR},
                    </if>
                    <if test="item.remark != null">
                        remark = #{item.remark,jdbcType=VARCHAR},
                    </if>
                    <if test="item.tags != null">
                        tags = #{item.tags,jdbcType=VARCHAR},
                    </if>
                    <if test="item.createdBy != null">
                        created_by = #{item.createdBy,jdbcType=VARCHAR},
                    </if>
                    <if test="item.creationDate != null">
                        creation_date = #{item.creationDate,jdbcType=TIMESTAMP},
                    </if>
                    <if test="item.lastUpdatedBy != null">
                        last_updated_by = #{item.lastUpdatedBy,jdbcType=TIMESTAMP},
                    </if>
                    <if test="item.lastUpdateDate != null">
                        last_update_date = #{item.lastUpdateDate,jdbcType=TIMESTAMP}
                    </if>
                </trim>
            </set>
            <where>
                <trim suffixOverrides=",">
                    where file_id = #{item.fileId,jdbcType=BIGINT}
                </trim>
            </where>
        </foreach>
    </update>

    <!--
     使用给定的字段名定义Where子句
   -->
    <sql id="Identifiers_Array_Conditions">
        <foreach collection="array" index="index" item="item" separator=" and ">
            <if test="item == 'fileId'">
                file_id = #{fileId,jdbcType=BIGINT}
            </if>
            <if test="item == 'fileName'">
                file_name = #{fileName,jdbcType=VARCHAR}
            </if>
            <if test="item == 'fileType'">
                file_type = #{fileType,jdbcType=VARCHAR}
            </if>
            <if test="item == 'fileUrl'">
                file_url = #{fileUrl,jdbcType=VARCHAR}
            </if>
            <if test="item == 'previewUrl'">
                preview_url = #{previewUrl,jdbcType=VARCHAR}
            </if>
            <if test="item == 'dataType'">
                data_type = #{dataType,jdbcType=TINYINT}
            </if>
            <if test="item == 'deleteFlag'">
                delete_flag = #{deleteFlag,jdbcType=INTEGER}
            </if>
            <if test="item == 'equipmentId'">
                equipment_id = #{equipmentId,jdbcType=BIGINT}
            </if>
            <if test="item == 'equipmentCode'">
                equipment_code = #{equipmentCode,jdbcType=VARCHAR}
            </if>
            <if test="item == 'remark'">
                remark = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="item == 'tags'">
                tags = #{tags,jdbcType=VARCHAR}
            </if>
            <if test="item == 'createdBy'">
                created_by = #{createdBy,jdbcType=VARCHAR}
            </if>
            <if test="item == 'creationDate'">
                creation_date = #{creationDate,jdbcType=TIMESTAMP}
            </if>
            <if test="item == 'lastUpdatedBy'">
                last_updated_by = #{lastUpdatedBy,jdbcType=TIMESTAMP}
            </if>
            <if test="item == 'lastUpdateDate'">
                last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP}
            </if>
        </foreach>
    </sql>

    <!--
      存在即更新否则插入
    -->
    <update id="upsert" parameterType="com.lego.framework.equipment.model.entity.EquipmentFile">
        insert into tpl_equipment_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            file_id, file_name, file_type, file_url, preview_url, data_type, delete_flag, equipment_id, equipment_code,
            remark, tags, created_by, creation_date, last_updated_by, last_update_date
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{fileId,jdbcType=BIGINT}, #{fileName,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR},
            #{fileUrl,jdbcType=VARCHAR}, #{previewUrl,jdbcType=VARCHAR}, #{dataType,jdbcType=TINYINT},
            #{deleteFlag,jdbcType=INTEGER}, #{equipmentId,jdbcType=BIGINT}, #{equipmentCode,jdbcType=VARCHAR},
            #{remark,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR},
            #{creationDate,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=TIMESTAMP},
            #{lastUpdateDate,jdbcType=TIMESTAMP}
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            #{fileId,jdbcType=BIGINT}, #{fileName,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR},
            #{fileUrl,jdbcType=VARCHAR}, #{previewUrl,jdbcType=VARCHAR}, #{dataType,jdbcType=TINYINT},
            #{deleteFlag,jdbcType=INTEGER}, #{equipmentId,jdbcType=BIGINT}, #{equipmentCode,jdbcType=VARCHAR},
            #{remark,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR},
            #{creationDate,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=TIMESTAMP},
            #{lastUpdateDate,jdbcType=TIMESTAMP}
        </trim>
    </update>


    <!--
      带有空值检查的存在即更新否则插入
    -->
    <update id="upsertSelective" parameterType="com.lego.framework.equipment.model.entity.EquipmentFile">
        insert into tpl_equipment_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileId !=null ">
                file_id,
            </if>
            <if test="fileName !=null ">
                file_name,
            </if>
            <if test="fileType !=null ">
                file_type,
            </if>
            <if test="fileUrl !=null ">
                file_url,
            </if>
            <if test="previewUrl !=null ">
                preview_url,
            </if>
            <if test="dataType !=null ">
                data_type,
            </if>
            <if test="deleteFlag !=null ">
                delete_flag,
            </if>
            <if test="equipmentId !=null ">
                equipment_id,
            </if>
            <if test="equipmentCode !=null ">
                equipment_code,
            </if>
            <if test="remark !=null ">
                remark,
            </if>
            <if test="tags !=null ">
                tags,
            </if>
            <if test="createdBy !=null ">
                created_by,
            </if>
            <if test="creationDate !=null ">
                creation_date,
            </if>
            <if test="lastUpdatedBy !=null ">
                last_updated_by,
            </if>
            <if test="lastUpdateDate !=null ">
                last_update_date
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileId !=null ">
                file_id = #{fileId,jdbcType=BIGINT},
            </if>
            <if test="fileName !=null ">
                file_name = #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="fileType !=null ">
                file_type = #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="fileUrl !=null ">
                file_url = #{fileUrl,jdbcType=VARCHAR},
            </if>
            <if test="previewUrl !=null ">
                preview_url = #{previewUrl,jdbcType=VARCHAR},
            </if>
            <if test="dataType !=null ">
                data_type = #{dataType,jdbcType=TINYINT},
            </if>
            <if test="deleteFlag !=null ">
                delete_flag = #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="equipmentId !=null ">
                equipment_id = #{equipmentId,jdbcType=BIGINT},
            </if>
            <if test="equipmentCode !=null ">
                equipment_code = #{equipmentCode,jdbcType=VARCHAR},
            </if>
            <if test="remark !=null ">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="tags !=null ">
                tags = #{tags,jdbcType=VARCHAR},
            </if>
            <if test="createdBy !=null ">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="creationDate !=null ">
                creation_date = #{creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdatedBy !=null ">
                last_updated_by = #{lastUpdatedBy,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateDate !=null ">
                last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP}
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="fileId !=null ">
                file_id = #{fileId,jdbcType=BIGINT},
            </if>
            <if test="fileName !=null ">
                file_name = #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="fileType !=null ">
                file_type = #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="fileUrl !=null ">
                file_url = #{fileUrl,jdbcType=VARCHAR},
            </if>
            <if test="previewUrl !=null ">
                preview_url = #{previewUrl,jdbcType=VARCHAR},
            </if>
            <if test="dataType !=null ">
                data_type = #{dataType,jdbcType=TINYINT},
            </if>
            <if test="deleteFlag !=null ">
                delete_flag = #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="equipmentId !=null ">
                equipment_id = #{equipmentId,jdbcType=BIGINT},
            </if>
            <if test="equipmentCode !=null ">
                equipment_code = #{equipmentCode,jdbcType=VARCHAR},
            </if>
            <if test="remark !=null ">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="tags !=null ">
                tags = #{tags,jdbcType=VARCHAR},
            </if>
            <if test="createdBy !=null ">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="creationDate !=null ">
                creation_date = #{creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdatedBy !=null ">
                last_updated_by = #{lastUpdatedBy,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateDate !=null ">
                last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </update>

    <select id="query" resultMap="BaseResultMap" parameterType="com.lego.framework.equipment.model.entity.EquipmentFile">
        select
        <include refid="Base_Column_List"/>
        from tpl_equipment_file
        <where>
            <include refid="Base_Query_Where"></include>
        </where>
    </select>

    <select id="queryTotal" resultType="long">
        select count(*) from tpl_equipment_file
    </select>


    <delete id="deleteBatch">
        delete from tpl_equipment_file where file_id in
        <foreach item="fileId" collection="list" open="(" separator="," close=")">
            #{fileId}
        </foreach>
    </delete>

</mapper>