<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lego.perception.template.mapper.DataTemplateHistoryMapper">

    <sql id="find_columns">
		id as id, tag as tag, template_code as templateCode, template_name as templateName, description as description, created_by as createdBy,
		creation_date as creationDate, last_update_date as lastUpdateDate, last_updated_by as last_updated_by
	</sql>

    <sql id="condition">
        <if test='id != null'>
            and id = #{id, jdbcType=BIGINT}
        </if>
        <if test="templateCode != null and templateCode != ''">
            and template_code = #{templateCode, jdbcType=VARCHAR}
        </if>
        <if test="templateName != null and templateName != ''">
            and template_name = #{templateName, jdbcType=VARCHAR}
        </if>
        <if test="tag != null and tag != ''">
            and tag = #{tag, jdbcType=VARCHAR}
        </if>
    </sql>

    <select id="findList" parameterType="com.lego.framework.template.model.entity.DataTemplateHistory"
            resultType="com.lego.framework.template.model.entity.DataTemplateHistory">
        select <include refid="find_columns"></include>
        from fp_data_template_tag_t
        <where>
            <include refid="condition"></include>
        </where>
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.lego.framework.template.model.entity.DataTemplateHistory">
        insert into tpl_data_template_tag_t
        (tag, template_code, template_name, description, created_by, last_updated_by, last_update_date)
        values
        (
         #{tag, jdbcType=VARCHAR},
         #{templateCode, jdbcType=VARCHAR},
         #{templateName, jdbcType=VARCHAR},
         #{description, jdbcType=VARCHAR},
         #{createdBy, jdbcType=BIGINT},
         #{lastUpdatedBy, jdbcType=BIGINT},
         #{lastUpdateDate, jdbcType=TIMESTAMP}
        )
    </insert>

    <sql id="find_item_columns">
		id as id, parent_id as parentId, template_id as templateId, title as title, field as field, category as category,
		default_value as defaultValue, sort as sort, enum_id as enumId, description as decription, source as source,
		g_field as gField, s_field as sField, status as status, creation_date as creationDate, last_update_date as last_update_date,
		created_by as createdBy, last_updated_by as last_updated_by
	</sql>

    <sql id="item_condition">
        <if test='id != null'>
            and id = #{id, jdbcType=BIGINT}
        </if>
        <if test="parentId != null and parentId != ''">
            and parent_id = #{parentId, jdbcType=VARCHAR}
        </if>
        <if test="templateId != null and templateId != ''">
            and template_id = #{templateId, jdbcType=VARCHAR}
        </if>
        <if test="title != null and title != ''">
            and title = #{title, jdbcType=VARCHAR}
        </if>
        <if test="field != null and field != ''">
            and field = #{field, jdbcType=VARCHAR}
        </if>
        <if test="category != null">
            and category = #{category, jdbcType=BIGINT}
        </if>
        <if test="source != null">
            and source = #{source, jdbcType=INTEGER}
        </if>
        <if test="status != null">
            and status = #{status, jdbcType=INTEGER}
        </if>
    </sql>

    <select id="findItems" parameterType="com.lego.framework.template.model.entity.DataTemplateItem"
            resultType="com.lego.framework.template.model.entity.DataTemplateItem">
        select <include refid="find_item_columns"></include>
        from tpl_data_template_tag_t
        <where>
            <include refid="item_condition"></include>
        </where>
    </select>

    <insert id="insertItems">
        insert into tpl_data_template_tag_t
        (id, parent_id, template_id, title, field, category, default_value, sort, enum_id, description, status, source, s_field,
        g_field, creation_date, created_by, last_update_date, last_updated_by)
        values
        <foreach collection="list" separator="," item="item">
            (
            #{item.id, jdbcType=BIGINT},
            #{item.parentId, jdbcType=BIGINT},
            #{item.templateId, jdbcType=BIGINT},
            #{item.title, jdbcType=VARCHAR},
            #{item.field, jdbcType=VARCHAR},
            #{item.category, jdbcType=BIGINT},
            #{item.defaultValue, jdbcType=VARCHAR},
            #{item.sort, jdbcType=INTEGER},
            #{item.enumId, jdbcType=BIGINT},
            #{item.description, jdbcType=VARCHAR},
            #{item.status, jdbcType=INTEGER},
            #{item.source, jdbcType=INTEGER},
            #{item.sField, jdbcType=VARCHAR},
            #{item.gField, jdbcType=VARCHAR},
            #{item.creationDate, jdbcType=TIMESTAMP},
            #{item.createdBy, jdbcType=BIGINT},
            #{item.lastUpdateDate, jdbcType=TIMESTAMP},
            #{item.lastUpdatedBy, jdbcType=BIGINT}
            )
        </foreach>
    </insert>
</mapper>
