<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lego.perception.data.mapper.ShareDataMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.lego.framework.data.model.entity.ShareData" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="projectId" column="project_id"/>
        <result property="dataType" column="data_type"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="remark" column="remark"/>
        <result property="tags" column="tags"/>
        <result property="batchNum" column="batch_num"/>
        <result property="createdBy" column="created_by"/>
        <result property="creationDate" column="creation_date"/>
        <result property="lastUpdatedBy" column="last_updated_by"/>
        <result property="lastUpdateDate" column="last_update_date"/>
        <result property="dataSize" column="data_size"/>
        <result property="businessModule" column="business_module"/>
        <result property="sourceModule" column="source_module"/>
        <result property="isRecall" column="is_recall"/>
        <result property="templateId" column="template_id"/>
    </resultMap>


    <!--数据库表的基本查询列名集合 -->
    <sql id="Base_Column_List">
        id ,
        name,
        project_id ,
        data_type ,
        delete_flag ,
        remark ,
        tags ,
        batch_num ,
        created_by ,
        creation_date ,
        last_updated_by ,
        last_update_date ,
        data_size,
        source_module,
        business_module,
        is_recall,
        template_id
    </sql>


    <!--Where子句 -->
    <sql id="Base_Query_Where">
        <if test="dataFile.id != null">
            and id = #{dataFile.id,jdbcType=BIGINT}
        </if>
        <if test="dateFile.name!=null">
            and name =#{dataFile.name,jdbcType=VARCHAR}
        </if>
        <if test="dataFile.projectId != null">
            and project_id = #{dataFile.projectId,jdbcType=BIGINT}
        </if>
        <if test="dataFile.dataType != null">
            and data_type = #{dataFile.dataType,jdbcType=INTEGER}
        </if>
        <if test="dataFile.deleteFlag != null">
            and delete_flag = #{dataFile.deleteFlag,jdbcType=INTEGER}
        </if>
        <if test="dataFile.remark != null">
            and remark = #{dataFile.remark,jdbcType=VARCHAR}
        </if>
        <if test="dataFile.tags != null">
            and tags = #{dataFile.tags,jdbcType=VARCHAR}
        </if>
        <if test="dataFile.batchNum != null">
            and batch_num = #{dataFile.batchNum,jdbcType=VARCHAR}
        </if>
        <if test="dataFile.createdBy != null">
            and created_by = #{dataFile.createdBy,jdbcType=VARCHAR}
        </if>
        <if test="dataFile.creationDate != null">
            and creation_date = #{dataFile.creationDate,jdbcType=TIMESTAMP}
        </if>
        <if test="dataFile.lastUpdatedBy != null">
            and last_updated_by = #{dataFile.lastUpdatedBy,jdbcType=VARCHAR}
        </if>
        <if test="dataFile.lastUpdateDate != null">
            and last_update_date = #{dataFile.lastUpdateDate,jdbcType=TIMESTAMP}
        </if>
        <if test="dataFile.sourceModule !=null">
            and source_module =#{dataFile.sourceModule,jdbcType=VARCHAR}
        </if>
        <if test="dataFile.businessModule !=null">
            and business_module =#{dataFile.businessModule,jdbcType=VARCHAR},
        </if>
        <if test="dataFile.isRecall !=null">
            and is_recall =#{dataFile.isRecall,jdbcType=INTEGER},
        </if>
        <if test="dataFile.templateId!=null">
            and template_id =#{dataFile.templateId,jdbcType=BIGINT}
        </if>
    </sql>


    <!--基本更新字段-->
    <sql id="Base_Update_Column">
        <set>
            <if test="dataFile.id != null">
                id = #{dataFile.id,jdbcType=BIGINT},
            </if>
            <if test="dataFile.name !=null">
                name=#{dataFile.name,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.projectId != null">
                project_id = #{dataFile.projectId,jdbcType=BIGINT},
            </if>
            <if test="dataFile.dataType != null">
                data_type = #{dataFile.dataType,jdbcType=INTEGER},
            </if>
            <if test="dataFile.deleteFlag != null">
                delete_flag = #{dataFile.deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="dataFile.remark != null">
                remark = #{dataFile.remark,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.tags != null">
                tags = #{dataFile.tags,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.batchNum != null">
                batch_num = #{dataFile.batchNum,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.createdBy != null">
                created_by = #{dataFile.createdBy,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.creationDate != null">
                creation_date = #{dataFile.creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="dataFile.lastUpdatedBy != null">
                last_updated_by = #{dataFile.lastUpdatedBy,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.lastUpdateDate != null">
                last_update_date = #{dataFile.lastUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="dataFile.sourceModule!=null">
                source_module =#{dataFile.sourceModule,jdbcType=VARCHAR},
            </if>
            <if test="datFile.businessModule!=null">
                business_module =#{dataFile.businessModule,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.isRecall !=null">
                is_recall =#{dataFile.isRecall,jdbcType=INTEGER}
            </if>
            <if test="dataFile.templateId!=null">
                template_id =#{dataFile.templateId,jdbcType=BIGINT}
            </if>
        </set>
    </sql>


    <sql id="Base_Insert_Selective">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dataFile.id != null">
                id,
            </if>
            <if test="dataFile.name != null">
                name,
            </if>
            <if test="dataFile.projectId != null">
                project_id,
            </if>
            <if test="dataFile.dataType != null">
                data_type,
            </if>
            <if test="dataFile.deleteFlag != null">
                delete_flag,
            </if>
            <if test="dataFile.remark != null">
                remark,
            </if>
            <if test="dataFile.tags != null">
                tags,
            </if>
            <if test="dataFile.batchNum != null">
                batch_num,
            </if>
            <if test="dataFile.createdBy != null">
                created_by,
            </if>
            <if test="dataFile.creationDate != null">
                creation_date,
            </if>
            <if test="dataFile.lastUpdatedBy != null">
                last_updated_by,
            </if>
            <if test="dataFile.lastUpdateDate != null">
                last_update_date,
            </if>
            <if test=" dataSize!=null">
                data_size,
            </if>
            <if test=" sourceModule !=null">
                source_module,
            </if>
            <if test=" businessModule !=null">
                business_module,
            </if>
            <if test=" isRecall!=null">
                is_recall,
            </if>
            <if test=" templateId !=null">
                template_id
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dataFile.id != null">
                #{dataFile.id,jdbcType=BIGINT},
            </if>
            <if test="dataFile.name != null">
                #{dataFile.name,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.projectId != null">
                #{dataFile.projectId,jdbcType=BIGINT},
            </if>
            <if test="dataFile.dataType != null">
                #{dataFile.dataType,jdbcType=BIGINT},
            </if>
            <if test="dataFile.deleteFlag != null">
                #{dataFile.deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="dataFile.remark != null">
                #{dataFile.remark,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.tags != null">
                #{dataFile.tags,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.batchNum != null">
                #{dataFile.batchNum,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.createdBy != null">
                #{dataFile.createdBy,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.creationDate != null">
                #{dataFile.creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="dataFile.lastUpdatedBy != null">
                #{dataFile.lastUpdatedBy,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.lastUpdateDate != null">
                #{dataFile.lastUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="dataFile.dataSize != null">
                #{dataFile.dataSize,jdbcType=BIGINT},
            </if>
            <if test=" dataFile.sourceModule !=null">
                #{dataFile.sourceModule,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.businessModule !=null">
                #{dataFile.businessModule,jdbcType=VARCHAR},
            </if>
            <if test=" dtaFile.isRecall !=null">
                #{dataFile.isRecall,jdbcType=INTEGER},
            </if>
            <if test="dataFile.templateId!=null">
                #{dataFile.templateId,jdbcType=BIGINT}
            </if>
        </trim>
    </sql>


    <!--批量添加记录到数据库表中-->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into tpl_share_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            name,
            project_id,
            data_type,
            delete_flag,
            remark,
            tags,
            batch_num,
            created_by,
            creation_date,
            last_updated_by,
            last_update_date,
            data_size,
            source_module,
            business_module,
            is_recall,
            template_id
        </trim>
        values
        <foreach collection="list" index="index" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id,jdbcType=BIGINT},
                #{item.name,jdbcType=VARCHAR},
                #{item.projectId,jdbcType=BIGINT},
                #{item.dataType,jdbcType=BIGINT},
                #{item.deleteFlag,jdbcType=INTEGER},
                #{item.remark,jdbcType=VARCHAR},
                #{item.tags,jdbcType=VARCHAR},
                #{item.batchNum,jdbcType=VARCHAR},
                #{item.createdBy,jdbcType=VARCHAR},
                #{item.creationDate,jdbcType=TIMESTAMP},
                #{item.lastUpdatedBy,jdbcType=VARCHAR},
                #{item.lastUpdateDate,jdbcType=TIMESTAMP},
                #{item.dataSize,jdbcType=BIGINT},
                #{item.sourceModule,jdbcType=VARCHAR},
                #{item.businessModule,jdbcType=VARCHAR},
                #{item.isRecall,jdbcType=INTEGER},
                #{item.templateId,jdbcType=BIGINT}
            </trim>
        </foreach>
    </insert>


    <!-- 根据主键批量更新数据库表中的记录-->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            update tpl_share_data
            <set>
                <trim suffixOverrides=",">
                    id = #{item.id,jdbcType=BIGINT},
                    name = #{item.name,jdbcType=VARCHAR},
                    project_id = #{item.projectId,jdbcType=BIGINT},
                    data_type = #{item.dataType,jdbcType=BIGINT},
                    delete_flag = #{item.deleteFlag,jdbcType=INTEGER},
                    remark = #{item.remark,jdbcType=VARCHAR},
                    tags = #{item.tags,jdbcType=VARCHAR},
                    batch_num = #{item.batchNum,jdbcType=VARCHAR},
                    created_by = #{item.createdBy,jdbcType=VARCHAR},
                    creation_date = #{item.creationDate,jdbcType=TIMESTAMP},
                    last_updated_by = #{item.lastUpdatedBy,jdbcType=VARCHAR},
                    last_update_date = #{item.lastUpdateDate,jdbcType=TIMESTAMP},
                    source_module= #{item.sourceModule,jdbcType=VARCHAR},
                    business_module= #{item.businessMudule,jdbcType=VARCHAR},
                    is_recall =#{item.isRecall,jdbcType=INTEGER},
                    template_id=#{item.templateId,jdbcType=BIGINT}
                </trim>
            </set>
            <where>
                <trim suffixOverrides=",">
                    where id = #{item.id,jdbcType=BIGINT}
                </trim>
            </where>
        </foreach>
    </update>


    <!--存在即更新否则插入-->
    <update id="upsert" parameterType="com.lego.framework.data.model.entity.ShareData">
        insert into tpl_share_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id ,
            name,
            project_id ,
            data_type ,
            delete_flag ,
            remark ,
            tags ,
            batch_num ,
            created_by ,
            creation_date ,
            last_updated_by ,
            last_update_date,
            source_module,
            business_module,
            is_recall,
            template_id
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{dataFile.id,jdbcType=BIGINT},
            #{dataFile.name,jdbcType=VARCHAR},
            #{dataFile.projectId,jdbcType=BIGINT},
            #{dataFile.dataType,jdbcType=BIGINT},
            #{dataFile.deleteFlag,jdbcType=INTEGER},
            #{dataFile.remark,jdbcType=VARCHAR},
            #{dataFile.tags,jdbcType=VARCHAR},
            #{dataFile.batchNum,jdbcType=VARCHAR},
            #{dataFile.createdBy,jdbcType=VARCHAR},
            #{dataFile.creationDate,jdbcType=TIMESTAMP},
            #{dataFile.lastUpdatedBy,jdbcType=VARCHAR},
            #{dataFile.lastUpdateDate,jdbcType=TIMESTAMP},
            #{dataFile.sourceModule,jdbcType=VARCHAR},
            #{dataFile.businessModule,jdbcType=VARCHAR},
            #{dataFile.isRecall,jdbcType=INTEGER},
            #{dataFile.templateId,jdbcType=BIGINT}
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            #{dataFile.id,jdbcType=BIGINT},
            #{dataFile.name,jdbcType=VARCHAR},
            #{dataFile.projectId,jdbcType=BIGINT},
            #{dataFile.dataType,jdbcType=BIGINT},
            #{dataFile.deleteFlag,jdbcType=INTEGER},
            #{dataFile.remark,jdbcType=VARCHAR},
            #{dataFile.tags,jdbcType=VARCHAR},
            #{dataFile.batchNum,jdbcType=VARCHAR},
            #{dataFile.createdBy,jdbcType=VARCHAR},
            #{dataFile.creationDate,jdbcType=TIMESTAMP},
            #{dataFile.lastUpdatedBy,jdbcType=VARCHAR},
            #{dataFile.lastUpdateDate,jdbcType=TIMESTAMP},
            #{dataFile.sourceModule,jdbcType=VARCHAR},
            #{dataFile.businessModule,jdbcType=VARCHAR},
            #{dataFile.isRecall,jdbcType=INTEGER},
            #{dataFile.templateId,jdbcType=BIGINT},
        </trim>
    </update>


    <!--带有空值检查的存在即更新否则插入-->
    <update id="upsertSelective" parameterType="com.lego.framework.data.model.entity.ShareData">
        insert into tpl_share_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dataFile.id != null">
                id,
            </if>
            <if test="dataFile.name!=null">
                name,
            </if>
            <if test="dataFile.dataType != null">
                data_type,
            </if>
            <if test="dataFile.deleteFlag != null">
                delete_flag,
            </if>
            <if test="dataFile.remark != null">
                remark,
            </if>
            <if test="dataFile.tags != null">
                tags,
            </if>
            <if test="dataFile.batchNum != null">
                batch_num,
            </if>
            <if test="dataFile.createdBy != null">
                created_by,
            </if>
            <if test="dataFile.creationDate != null">
                creation_date,
            </if>
            <if test="dataFile.lastUpdatedBy != null">
                last_updated_by,
            </if>
            <if test="dataFile.lastUpdateDate != null">
                last_update_date,
            </if>
            <if test="dataFile.sourceModule !=null">
                source_module,
            </if>
            <if test="dataFile.businessModule !=null">
                business_module,
            </if>
            <if test="dataFile.isRecall !=null">
                is_recall,
            </if>
            <if test="dataFile.templateId !=null">
                template_id
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dataFile.id !=null ">
                #{dataFile.id,jdbcType=BIGINT},
            </if>
            <if test="dataFile.name !=null ">
                #{dataFile.name,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.projectId !=null ">
                #{dataFile.projectId,jdbcType=BIGINT},
            </if>
            <if test="dataFile.dataType !=null ">
                #{dataFile.dataType,jdbcType=BIGINT},
            </if>
            <if test="dataFile.deleteFlag !=null ">
                #{dataFile.deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="dataFile.remark !=null ">
                #{dataFile.remark,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.tags !=null ">
                #{dataFile.tags,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.batchNum !=null ">
                #{dataFile.batchNum,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.createdBy !=null ">
                #{dataFile.createdBy,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.creationDate !=null ">
                #{dataFile.creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="dataFile.lastUpdatedBy !=null ">
                #{dataFile.lastUpdatedBy,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.lastUpdateDate !=null ">
                #{dataFile.lastUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="dataFile.sourceModule!=null">
                #{dataFile.sourceModule,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.businessModule !=null">
                #{dataFile.businessModule,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.isRecall !=null">
                #{dataFile.isRecall,jdbcType=INTEGER},
            </if>
            <if test="dataFile.templateId!=null">
                #{dataFile.templateId,jdbcType=BIGINT}
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="dataFile.id !=null ">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="dataFile.name !=null">
                #{dataFile.name,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.projectId !=null ">
                #{projectId,jdbcType=BIGINT},
            </if>
            <if test="dataFile.dataType !=null ">
                #{dataType,jdbcType=BIGINT},
            </if>
            <if test="dataFile.deleteFlag !=null ">
                #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="dataFile.remark !=null ">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.tags !=null ">
                #{tags,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.batchNum !=null ">
                #{batchNum,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.createdBy !=null ">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.creationDate !=null ">
                #{creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="dataFile.lastUpdatedBy !=null ">
                #{lastUpdatedBy,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.lastUpdateDate !=null ">
                #{lastUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="dataFile.sourceModule!=null">
                #{dataFile.sourceModule,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.businessModule !=null">
                #{dataFile.businessModule,jdbcType=VARCHAR},
            </if>
            <if test="dataFile.isRecall !=null">
                #{dataFile.isRecall,jdbcType=INTEGER},
            </if>
            <if test="dataFile.templateId!=null">
                #{dataFile.templateId,jdbcType=BIGINT}
            </if>
        </trim>
    </update>

    <select id="query" resultMap="BaseResultMap" parameterType="com.lego.framework.data.model.entity.ShareData">
        select
        <include refid="Base_Column_List"/>
        from tpl_share_data
        <where>
            <include refid="Base_Query_Where"></include>
        </where>
    </select>

    <select id="queryTotalCount" resultType="long">
        select count(*)
        from tpl_share_data
    </select>


</mapper>